<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffee_shop.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @coffee_shop.notes %>
</p>

<p>
<a href="comgooglemaps://?daddr=<%= URI.escape(@coffee_shop.name)%>&directionsmode=driving">google map directions (iOS app)</a>
<br>
<br>
<a href="https://www.google.com/maps/dir/Current+Location/<%= URI.escape(@coffee_shop.name) %>">google map directions</a>
</p>

<br>

<%= link_to 'Edit', edit_coffee_shop_path(@coffee_shop) %> |
<%= link_to 'Back', coffee_shops_path %>

